<form class="form" action="/myson/{{id}}/edit" method="post">
  <img class="img-circle" src="{{image}}" alt="{{name}}">
  <label for="month" class="form-item">
    Month:
    <input type="text" name="month" value="{{month}}">
  </label>
  
  <label for="meal" class="form-item">
    Meal:
    <input type="text" name="meal" value="{{meal}}">
  </label>
  
  <label for="doable" class="form-item">
    Doable:
    <input type="text" name="doable" value="{{doable}}">
  </label>
  
  <input type="hidden" name="image" value="{{image}}">
  
  <input type="submit" name="" value="Submit">
</form>
